h1{
    color: purple;
}
ul{
    color: tomato;
}
.code-elements{
    color: red;
}
.text-center {
    text-align: center;
}
.color{
    color: #fff;
    padding: 4px;
}
.font-size{
    font-size: 3rem;
}